* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body,
html {
  background-color: rgba(255, 224, 239, 1);
  color: #1a1765;
}
img {
  width: 100%;
}

/*Background*/
div#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background: rgb(255, 224, 239);
  background: linear-gradient(
    180deg,
    rgba(255, 224, 239, 0) 0%,
    rgba(255, 224, 239, 1) 40%,
    rgba(255, 224, 239, 1) 60%,
    rgba(255, 224, 239, 0) 100%
  );
}
img#bg {
  position: absolute;
  bottom: 0px;
  opacity: 10%;
}
img#bg-top {
  position: absolute;
  top: 0px;
  opacity: 10%;
  transform: rotate(180deg);
}

/*Content*/
h1 {
  font-family: "Inconsolata", monospace;
}
div.container-fluid {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.row {
  background-color: rgb(248, 232, 239);
  padding: 55px 15px 0 15px;
}
#welcome {
  display: inline;
}
img#logo {
  width: 15%;
}

.t1,
button,
input {
  border: 2px solid #1a1765;
  border-radius: 3px;
}
button,
input {
  background-color: white;
}
button:hover {
  color: rgb(248, 232, 239);
  background-color: #f81c86;
}
#response {
  background-color: white;
  width: 40vw;
  overflow: hidden;
  max-width: 64vw;
  min-height: 17vh;
}
div.footer {
  padding-top: 45px;
  padding-bottom: 15px;
}
a {
  color: #f81c86;
}
a:hover {
  color: #9e225e;
}
#mobile-p {
  display: none;
}
/*Make responsive*/
@media screen and (max-width: 500px) {
  div#background {
    display: none;
  }
  .container-fluid {
    overflow: hidden;
    max-height: 100vh;
  }
  .header {
    display: flex;
    flex-direction: column-reverse !important;
  }
  img#bg,
  img#bg-top {
    display: none;
  }
  #mobile-p {
    display: block;
    margin-bottom: 0;
  }
  #logo {
    margin: 0;
  }
  #desktop-p {
    display: none !important;
  }
  #response {
    width: 85vw;
    max-width: 85vw;
  }
}
